<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="FILE_FORMAT"        value="CSV"/> <!-- valid values are CSV and XLSX. Default is XLSX -->
    <add key="OVERWRITE_EXISTING" value="TRUE"/>
    <add key="FIELD_HEADER"       value="TRUE"/> <!-- include field names in first row (CSV only)? -->

    <add key="SQL_COMMAND"        value="select 1 as batch_id, * from master.sys.databases; select 1 as batch_id,* from master.dbo.syslogins"/>
    <add key="FILE_PATH"          value="c:\temp\"/>

    <add key="FILE_ROOT_0"        value="Databases - Batch"/>
    <add key="FILE_ROOT_1"        value="Users - Batch"/>

  </appSettings>
</configuration>